h1{
    color: aqua;
}

.navbar--container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    background: linear-gradient(90deg, #35048e 25%, #ad30db 100%);    background: linear-gradient(90deg, #35048e 25%, #ad30db 100%);
}
.navbar--links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a{
    color: black !important;
}